/* Breakpoints */
$large-smartphone-up: 375px;
$tablet-portrait-up: 600px;
$large-tablet-portrait-up: 768px;
$tablet-landscape-up: 900px;
$large-tablet-landscape-up: 992px;
$desktop-up: 1200px;
$large-desktop-up: 1800px;